{% extends 'Base.html' %}

{% load static %}

{% block content %}

    <br>
    <h3 align="center"><i>Welcome to Artisans club</i></h3><br>
    <center><img src="{% static "image/home2.jpg" %}" class="card-img-top" alt="music picture" height="600" width=""></center><br><br>
    <br>
    <br>


    <center><strong><h2><i>About Us</i></h2></strong><br></center>

    <p>
        <i>
           <h3> Life is better with color. Why not brighten up your walls with a new painting ? <strong>ARTISANS CLUB</strong>  is a platform where artist can show their artistic
            talents.Ever wondered what goes an artist's mind when they paint? What they use for inspiration?</h3>
        </i>
    </p>

    <p>
        <i>
            <h3>The art world can be confusing. At ARTISANS CLUB, however, we believe art is for everyone. If you want to publish your own art artisans club is the best platform for you.
                ARTISANS CLUB is the ideal place for artists and galleries to connect!It is a very unique opportunity for artist to grow themselves by promoting.</h3>
        </i>
    </p>
    <P>
        <i>
            <h3>Explore all kind of art works along with digital prints of famous art works of great masters without going anywhere.</h3>
        </i>
    </P>

    <div class="card-group">
      <div class="card">
        <img src="{% static "image/picture2.jpg" %}" class="card-img-top" alt="Covid image" height="400" width="250" >
        <div class="card-body">
          <h5 class="card-title"><i>Riverside Village</i></h5>
          <p class="card-text">
              <i>This picture represents the natural beauty of the rural areas of Bangladesh. Where rivers are related with the local's regular life. </i>
          </p>

        </div>
      </div>
      <div class="card">
        <img src="{% static "image/picture3.jpg" %}" class="card-img-top" alt="music picture" height="400" width="250">
        <div class="card-body">
          <h5 class="card-title"><i>Drenched Streets</i></h5>
            <p class="card-text"><i>This image represents the streets of a city on a rainy day.</i></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static "image/picture4.jpg" %}" class="card-img-top" alt="..." height="400" width="250">
        <div class="card-body">
          <h5 class="card-title"><i>Beach sides</i></h5>
            <p class="card-text"><i>This image shows the beauty of nature. Where the beach and the beautiful coconut trees complements each other. </i></p>

        </div>
      </div>
    </div>



{% endblock content %}