{% extends 'Base_art.html' %}

{% block content  %}


        <div class="card bg-light mb-2`" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ search.art.url }}" class="card-img" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ search.id }}</h5>
                <p class="card-text">
                  <h3><b>  Title: </b> </h3><h4> {{ search.title }}</h4> <br>
                   <h3><b> Medium:</b> </h3> <h4>{{ search.medium }}</h4> <br>
                   <h3> <b>Category:</b> </h3><h4> {{ search.category }}</h4> <br>
                    <h3><b> Art Description:</b> </h3><h4>{{ search.art_description }} </h4><br>
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
{#  updatecart/product_id #}
                  <a href="" ></a>

              </div>
            </div>
          </div>
        </div>
{% endblock content %}